modules = ["nodejs-20", "web", "bash", "nix"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Expo Dev"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx ts-node --project tsconfig.server.json server/index.ts"
waitForPort = 5000

[[workflows.workflow]]
name = "Expo Dev"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel --port 8080 --clear"
waitForPort = 8080

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3000

[userenv]

[userenv.shared]
NGROK_AUTHTOKEN = "3Cm7NvnZJrbjZEMJPWDhgIlJVLI_dkG1KnFuYvxmnThf2vw9"
FIREBASE_PROJECT_ID = "quartierplus2026"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "505879462771"
FIREBASE_APP_ID = "1:505879462771:android:5850a1a40bf9ba5e63bb06"
EXPO_PUBLIC_API_URL = "https://12847caf-4d28-463d-8405-0c7da09cdd7f-00-1wsfgibjmoy0i.worf.replit.dev"

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "ts-node", "--project", "tsconfig.server.json", "server/index.ts"]
